/* Thoughts on color scheme:
Primary color - #de7812
Split comp #1 - #7812de
Spli comp #2 - #12dede */

/* .App {
  text-align: center;
  background-color: #fffbf7;
  background-color: blue;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* https://stackoverflow.com/questions/12811149/what-does-the-dot-mean-in-css */

.About .text-block {
  padding: 25px;
  margin: auto;
  max-width: 725px;
  text-align: center;
}

.Home .text-block {
  padding: 25px;
  margin: auto;
  max-width: 725px;
  text-align: center;
}

.Test .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
}